@tailwind base;
@tailwind components;
@tailwind utilities;
.mobile-view {
  display: none;
}

@media (max-width: 767px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
